DammFlower/FlowerClient/xml-resources/web-service-references/FlowerService/wsdl/localhost_8080/FlowerService/FlowerService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.flower.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.flower.org/">

  <xs:element name="IOException" nillable="true" type="tns:ioExceptionBean"/>

  <xs:element name="getFlower" nillable="true" type="tns:getFlower"/>

  <xs:element name="getFlowerResponse" nillable="true" type="tns:getFlowerResponse"/>

  <xs:element name="getThumbnails" nillable="true" type="tns:getThumbnails"/>

  <xs:element name="getThumbnailsResponse" nillable="true" type="tns:getThumbnailsResponse"/>
  

  <xs:complexType name="getFlower">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getFlowerResponse">
    <xs:sequence>
      <xs:element xmlns:xmime="http://www.w3.org/2005/05/xmlmime" name="return" type="xs:base64Binary" minOccurs="0" xmime:expectedContentTypes="image/jpeg"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ioExceptionBean">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getThumbnails">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getThumbnailsResponse">
    <xs:sequence>
      <xs:element xmlns:xmime="http://www.w3.org/2005/05/xmlmime" name="return" type="xs:base64Binary" minOccurs="0" maxOccurs="unbounded" xmime:expectedContentTypes="image/jpeg"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>